@media only screen and (max-width: 600px) {
    .list-page {
        display: inline-block;
        /* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); */
        flex: 1;
    }
    .page-container {
        display: inline-block;
        text-align: center;
        /* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); */
        /* flex: 1; */
    }
  }